body{
    background-color: rgb(128, 164, 169);
    font-family: "Comic Sans MS" , serif;
    line-height: 1.7;
}

h1{
    font-size: 75px;
}

h2{
    font-size: 40px
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
    padding: 0 0 20px 0;
}

hgroup{
    text-align: center;
    color: rgb(65,65,65);
}

.core{
    width: 70%;
    min-width: 320px;
    margin: 0 15%;
    padding: 40px;
    background-color: rgb(133, 131, 131);
    border-radius: 15px;
    color: rgb(255,255,255);
}

.core:after{
    display: flex;
    clear: both;
}

input{
    background-color: rgb(128, 164, 169);
    border-radius: 5px;
    margin-top: 15px;
}

input[type=text], input[type=email], input[type=number], input[type=date]{
    width: 40%;
    min-width: 140px;
}

input[type=radio], input[type=checkbox]{
    accent-color: black;
}

.bottom{

    line-height: 2;
}
.top{

}

input[type=button], input[type=submit]{
    margin: 20px 0 0 0;
    width: 20%;
    text-align: center;
    horiz-align: center;
    font-size: large;
    min-width: 100px;
    padding: 5px;
}

header{

}

footer{

    text-align: center;
    margin: 50px 0 0 0;
    padding: 15px;
    background-color: rgb(51,51,51);;
    color: rgb(255,255,255);
    position: relative;
    bottom: 0;
    clear: both;
    border-radius: 10px;
}

#czech, #austria, #kosice, #viena, #graz, #prague, #brno, #slovakia, #bratislava, #country{
    width: 25%;
    min-width: 100px;
}

#czech, #austria, #kosice, #viena, #graz, #prague, #brno, #shelf1, #shelf2, #differentTextArea{
    display: none;
}

#warnAge, #warnDate, #warnMail, #warnName, #warnSurname, #warnPhone{
    visibility: hidden;
}

::placeholder{
    color: rgb(52, 52, 52);
}

.warning{
    font-size: 12px;
    color: red;
}

.column {
    float: left;
    width: 50%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#differentText{
    width: 200px;
    height: 80px;
}

textarea{
    resize: none;
}

